.contact-title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;

}

.contact-title::after {
  content: "";
  display: block;
  width:500px;
  height: 4px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.form-title::after {
  content: "";
  display: block;
  width:100%;
  height: 3px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}