.section-title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;

}

.section-title::after {
  content: "";
  display: block;
  width:200%;
  height: 3px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
p.section-title::after {
  content: "";
  display: block;
  width:50%;
  height: 5px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}