.footer-link {
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.footer-link:hover {
  font-weight: bold;
  color: white;
}

.footer-icon {
  font-size: 22px;
  transition: 0.3s;
}

.footer-icon:hover {
  color: #0d6efd !important;
}

/* Limiter la largeur du contenu */
footer .container {
max-height:fit-content;      /* largeur maximale du footer */
}
