.legal-title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;

}

.legal-title::after {
  content: "";
  display: block;
  width:400px;
  height: 4px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}