.card i {
  font-size: 3rem;
  color: #007bff;
}
.card {
  transition: all 0.3s ease; /* Animation douce au survol */
}
.card:hover {
 
  transition: 0.3s ease;
   background-color: #efefef; /* Couleur de fond au survol */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Légère ombre */
  transform: translateY(-2px); /* Optionnel : effet "lift" */
}

h1 {
  font-size: clamp(1.8rem, 3vw, 3rem);
}
.service-title {
  
    position: relative;
    display: inline-block;
    padding-bottom: 20px;

  
}

.service-title::after {
  content: "";
  display: block;
  width:450px;
  height: 5px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}