.card i {
  font-size: 3rem;
  color: #007bff;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

h1 {
  font-size: clamp(1.8rem, 3vw, 3rem);
}
p.section-title {
  
    position: relative;
    padding-bottom: 10px;
  
}

p.section-title::after {
  content: "";
  display: block;
  width:40%;
  height: 5px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}