.skill-title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.skill-title::after {
  content: "";
  display: block;
  width:250%;
  height: 3px;
  background-color: #007bff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
